
.body {
  margin: 0;
  padding: 0;
  
}
.container--img {
  padding-left: 200px;
  width: 79.904px;
  height: 30px;
  flex-shrink: 0;
}

.container--title {
  .link1 {
    margin-top: -15px;
    text-decoration: none;
    margin-left: 360px;
    border: none;
    list-style: none;
    color: var(--Font, #0c1523);

    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .link2 {
    margin-top: -20px;
    margin-left: 490px;
    list-style: none;
    border: none;
    color: var(--Font, #0c1523);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 07;
  }
}
.img {
  margin-top: -117px;
  margin-left: 586px;
  width: 1204px;
  height: 1000px;
  flex-shrink: 0;
}
.container--subtitle {
  .login {
    position: absolute;
    margin-top: -20px;
    margin-left: 1370px;
    color: var(--Gray, white);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .btn {
    position: absolute;
    margin-top: -30px;
    margin-left: 1450px;
    border: none;
    width: 170px;
    height: 49px;
    flex-shrink: 0;
    border-radius: 9px;
    background: var(--Btn, #41f5c0);
  }
}
.img2 {
  position: absolute;
  margin-top: -830px;
  margin-left: 850px;
  width: 659px;
  height: 659px;
  flex-shrink: 0;
  border-radius: 659px;
  background: linear-gradient(
    229deg,
    rgba(65, 245, 192, 0.1) 12.9%,
    rgba(65, 245, 192, 0) 74.92%
  );
}
.img3 {
  position: absolute;
  margin-top: -930px;
  margin-left: 870px;
  width: 797.71px;
  height: 745.359px;
  flex-shrink: 0;
  fill: url(<path-to-image>), lightgray;
}
.img4 {
  position: absolute;
  margin-left: 1190px;
  margin-top: -400px;
}
.marketing {
  .images1 {
    position: absolute;
    margin-left: 650px;
    margin-top: -850px;
    flex-shrink: 0;
  }
  .images2 {
    position: absolute;
    margin-left: 1260px;
    margin-top: -900px;
    flex-shrink: 0;
  }
  .images3 {
    position: absolute;
    margin-left: 1330px;
    margin-top: -760px;
    flex-shrink: 0;
  }
  .images4 {
    position: absolute;
    margin-left: 1120px;
    margin-top: -380px;
    flex-shrink: 0;
  }
}
.review_title {
    h1 {
    margin-left: 200px;
    margin-top: -800px;
    width: 370px;
    color: var(--Font, #0c1523);
    font-family: Inter;
    font-size: 42.54px;
    font-style: normal;
    font-weight: 400;
    line-height: 150.5%;
    opacity: 0.9;
  }
  .review_h1 {
    margin-top: -20px;
    margin-left: 200px;
    color: var(--Font, #0c1523);
    font-family: Inter;
    font-size: 75.594px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .review_p {
    margin-top: -20px;
    margin-left: 200px;
    width: 360px;
    color: var(--Font, #0c1523);
    font-family: Inter;
    font-size: 23.94px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    opacity: 0.7;
  }
  .review_h2 {
    margin-top: -40px;
    margin-right: 1100px;
    color: var(--Font, #0c1523);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .review_btn {
    margin-left: 200px;
    width: 170px;
    height: 49px;
    flex-shrink: 0;
    border-radius: 9px;
    background: var(--Btn, #41f5c0);
    border: none;
  }
}
.instagram {
  .insta_img {
    margin-top: 150px;
    margin-left: 190px;
  }
  .insta_img-2 {
    margin-left: 100px;
  }
}
.insta_img-3 {
  margin-left: 190px;
  margin-top: 50px;
}
.insta_img-4 {
  margin-left: 100px;
}
.check_title {
  .title_h1 {
    margin-top: 200px;
    margin-left: 600px;
    width: 687px;
    color: var(--Font, #0c1523);
    text-align: center;
    font-family: Inter;
    font-size: 42.536px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
.check_title{
  color: var(--Font, #0c1523);
  font-family: Inter;
  font-size: 31.912px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 60px;

 

  .check_p {
    width: 120px;
    height: 20px;
    color: var(--Font, #0c1523);
    font-family: Inter;
    font-size: 13.333px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 20px */
    opacity: 0.7;
  }
  .check_p {
    width: 120px;
    height: 20px;
    color: var(--Font, #0c1523);
    font-family: Inter;
    font-size: 13.333px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 20px */
    opacity: 0.7;
  }
  .check_p {
    width: 120px;
    height: 20px;
    color: var(--Font, #0c1523);
    font-family: Inter;
    font-size: 13.333px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    opacity: 0.7;
  }
  .check_p {
    width: 120px;
    height: 20px;
    color: var(--Font, #0c1523);
    font-family: Inter;
    font-size: 13.333px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 20px */
    opacity: 0.7;
  }
}

.main_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 170px;
}
.features {
  display: flex;
  margin-top: 20px;
  padding-left: 500px;
  height: 1150px;
  border-radius: 20px;
  background: var(--Gray, white);
}
.card {
  position: absolute;
  padding: 140px 147px;
  width: 367px;
  color: var(--Font, black);
  font-size: 42.536px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.btn {
  position: absolute;
  margin-top: 290px;
  margin-left: 140px;
  display: inline-flex;
  padding: 15px 25px;
  align-items: flex-start;
  gap: 10px;
  border: none;
  border-radius: 9px;
  background: var(--Font, #0c1523);
  color: var(--Gray, #fafbff);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.card_menu {
  margin-left: 650px;
  margin-top: 130px;
  width: 458px;
  height: 260px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #fff;
}

.menu_img {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  margin-left: 40px;
  margin-top: 60px;
}
.car {
  font-size: 23.94px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  margin-left: 30px;
}
.card_p {
  opacity: 0.7;
  margin-left: 30px;
}
.card_menu-2 {
  width: 458px;
  height: 260px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #fff;
  position: absolute;
  margin-top: 430px;
  margin-left: 140px;
}
.card_menu-3 {
  margin-top: 430px;
  margin-left: 650px;
  width: 458px;
  height: 260px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #fff;
  position: absolute;
}
.card_menu-4 {
  width: 458px;
  height: 260px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #fff;
  position: absolute;
  margin-top: 720px;
  margin-left: 140px;
}
.card_menu-5 {
  margin-top: 720px;
  margin-left: 650px;
  width: 458px;
  height: 260px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #fff;
  position: absolute;
}
.explore{
  width: 1440px;
  

}
.cards {
text-align: center;
 margin-left: 600px;
  color: var(--Font, #0c1523);
  font-size: 42.536px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.cards1 {
  color: var(--Font, #0c1523);
  margin-left: 600px;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  opacity: 0.7;
}
.container__liter {
  margin-left: 230px;
  position: absolute;
  width: 380px;
  height: 363px;
  .container__liter img {
    background: #baadc0;
  }
}
.ux_designer {
  padding-left: 230px;
}
.maket1 {
  padding: 110px 145px;
}
.maket {
  margin-top: -100px;
  color: var(--Font, #0c1523);
  text-align: center;
}
.p1 {
  margin-left: 90px;
}
.grafic {
  width: 380px;
  height: 363px;
  background-color: white;
  margin-left: 600px;
  position: absolute;
}
.p2 {
  margin-left: 110px;
}
.grafic_2 {
  width: 380px;
  height: 363px;
  margin-left: 980px;
  position: absolute;
}
.grafic_3 {
  width: 380px;
  height: 363px;
  background-color: white;
  margin-left: 230px;
  margin-top: 368px;
  position: absolute;
}
.grafic_4 {
  width: 380px;
  height: 363px;

  margin-left: 603px;
  margin-top: 368px;
  position: absolute;
}
.grafic_5 {
  width: 380px;
  height: 363px;
  background-color: white;
  margin-left: 980px;
  margin-top: 368px;
  position: absolute;
}
.grafic_titil {
  margin-top: 900px;
  margin-left: 140px;
  position: absolute;
}
.grafic_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.grafic_h1 {
  margin-left: 110px;
  color: var(--Font, #0c1523);
  font-size: 31.912px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.p2 {
  color: var(--Font, #0c1523);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.popular {
  padding-left: 300px;

  height: 898px;
  background: var(--Gray, #fafbff);
}
.busnes_h1 {
  color: var(--Font, #0c1523);
  text-align: center;
  font-size: 42.536px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.busnes_p {
  text-align: center;
}
.busnes {
  margin-left: 500px;
  position: absolute;
  margin-top: 100px;
}

.follow {
  margin-left: 450px;
  margin-top: -600px;
  width: 360px;
  height: 432px;
  border-radius: 20px;
  border: 1px solid rgba(65, 245, 192, 0.2);
  background: #fff;
}
.h1 {
  margin-top: 100px;
  color: var(--Font, #0c1523);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.header1 {
  margin-top: 50px;
  margin-left: 147px;
}
h2 {
  color: var(--b, #263959);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.p4 {
  color: var(--Font, #0c1523);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.follow_1 {
  margin-left: 850px;
  margin-top: -440px;
  width: 360px;
  height: 432px;
  border-radius: 20px;
  border: 1px solid rgba(65, 245, 192, 0.2);
  background: #fff;
}
.follow_2 {
  margin-left: 1250px;
  margin-top: -440px;
  width: 360px;
  height: 432px;
  border-radius: 20px;
  border: 1px solid rgba(65, 245, 192, 0.2);
  background: #fff;
}

.icons {
  width: 45px;
  height: 45px;
}

.email {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 200px;
}
.email p {
  color: var(--Paragraph, #140834);

  font-family: Inter;
  font-size: 23.94px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.containers {
  width: 1400px;
  margin: 0 auto;
}

.footer_title {
  width: 100%;
  height: 80px;
  background: var(--Btn, #41f5c0);
}
.footer_title p {
  color: var(--Font, #0c1523);

  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  padding-top: 30px;
}
